body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grid {
  text-align: center;
  overflow: hidden;
}

.grid .flag-select {
  position: absolute;
}

.box {
  display: inline-block;
  vertical-align: middle;
}

.typing {
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.box a {
  color: #fff;
  text-decoration: none;
}

.yellow {
  background-color: #f3b400;
}

.red {
  background-color: #db4436;
}

.blue {
  background-color: #4285f4;
}

.green {
  background-color: #0e9c57;
}
